.carrito {
    width: 400px;
}

.tarjeta {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
}

.imagenTarjeta {
    width: 200px;
}

.imgTarjeta {
    width: 100%;
}